@import './base.css';

* {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  --headerHeight: 110px;
  --orange: #ec5a12;
  --orangeLight: #fee9dd;
  --container: 1055px;
}
.container {
  width: 1055px;
  margin: 0 auto;
  height: 100%;
}
